<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Quote Generator API and demo site">
    <meta name="author" content="Muhammet Uçan">
    <link rel="icon" type="image/ico" href="/img/favicon.ico">

    <title>About</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/cover.css') }}"/>
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <a class="lead masthead-brand" style="text-decoration: none; font-size: x-large"
                       href="/">Quote Generator</a>
                    <nav class="nav nav-masthead">
                        <!-- http://itucsdb1741.mybluemix.net/ -->
                        <a class="nav-link" href="/random">Random</a>
                        <a class="nav-link" href="/addNew">Add</a>
                        <a class="nav-link active" href="/about">About</a>
                        <a class="nav-link" href="/authentication">Auth</a>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <p>This site provides an API service for generating quotes with given keywords. If user dont want to give an keywords,
                    then API provide him and randomly choosen quote. The number of qoutes are restricted by the quotes in database.
                </p>
                <p>    Before making a request user has to create credentials. In order to that,
                    Auth menu link should be used. After creating and user account API KEY will be given to user.
               </p>
                <p>Base Link :  <code>http://itucsdb1741.mybluemix.net/quote/api/v1.0/</code> </p>

                <p>For Authentication of API use Basic Auth (username - password) and add Api-key with tag <code>ApiKey</code></p>

                <p> random: <code>GET /quote/api/v1.0/random</code></p>

                <p> with keyword: <code>GET /quote/api/v1.0/{?keyword}</code></p>

                <p>For more detail please look up <a style="color:#bd2130;" href="https://github.com/mhmmtucan/itucsdb1741" target="_blank">github</a> repository.</p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Quote generator api, by <a href="https://twitter.com/mhmmtucan">@mhmmtucan</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>