<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Quote Generator API and demo site">
    <meta name="author" content="Muhammet Uçan">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Authentication</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/cover.css') }}"/>
</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <a class="lead masthead-brand" style="text-decoration: none; font-size: x-large"  href="{{ url_for('keyword') }}/">Quote Generator</a>
                    <nav class="nav nav-masthead">
                        <!-- http://itucsdb1741.mybluemix.net/ -->
                        <a class="nav-link" href="{{ url_for('keyword') }}/random">Random</a>
                        <a class="nav-link" href="{{ url_for('keyword') }}/about">About</a>
                        <a class="nav-link active" href="{{ url_for('keyword') }}/authentication">Auth</a>
                    </nav>
                </div>
            </div>

            <div class="modal-body row">
                <div class="col-md-12">
                    <div class="inner cover">
                        <form action=" {{ url_for('auth_page') }} " method="post">
                            <h1> Login / Create </h1>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                                       name="username"
                                       placeholder="Enter username">
                                <small id="usernameHelp" class="form-text text-muted">We'll never share your information
                                    with anyone else.
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                       name="password">
                            </div>
                            <button type="submit" class="btn btn-primary" name="btn" value="Login">Login</button>
                            <button type="submit" class="btn btn-primary" name="btn" value="Create">Create</button>
                        </form>
                        <br>
                        <small class="alert"> {{ prompt }} </small>
                    </div>
                </div>
            </div>


            <div class="mastfoot">
                <div class="inner">
                    <p>Quote generator api, by <a href="https://twitter.com/mhmmtucan">@mhmmtucan</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>

</body>
</html>